*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato',sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Staatliches', cursive;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.u-mary-bg {
  margin: 6rem 0;
}

.u-mary-md {
  margin: 3rem 0;
}

.u-mary-sm {
  margin: 1rem 0;
}

.u-martop-bg {
  margin-top: 6rem;
}

.u-martop-md {
  margin-top: 3rem;
}

.u-martop-sm {
  margin-top: 1rem;
}

.u-marbot-bg {
  margin-bottom: 6rem;
}

.u-marbot-md {
  margin-bottom: 3rem;
}

.u-marbot-sm {
  margin-bottom: 1rem;
}

.u-pady-bg {
  padding: 6rem 0;
}

.u-pady-md {
  padding: 3rem 0;
}

.u-pady-sm {
  padding: 1rem 0;
}

.bg-light {
  background-color: #f3f3f3 !important;
}

.bg-dark {
  background-color: #333 !important;
  color: white;
}

.bg-red {
  background-color: #c72727 !important;
  color: white;
}

.bg-orange {
  background-color: orange !important;
  color: white;
}

.bg-white {
  background-color: white !important;
  color: #333;
}

.current {
  background-color: #c72727;
  color: white;
}

.current:hover {
  background-color: #f3f3f3;
  color: #333;
}

.tag {
  text-transform: uppercase;
  font-size: 0.6rem;
  display: inline-block;
  background-color: black;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.tag--orange {
  background-color: orange;
}

.tag--purp {
  background-color: purple;
}

.tag--blue {
  background-color: skyblue;
}

.heading-1 {
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

.heading-4 {
  font-size: 1.3rem;
}

.btn {
  background-color: #c72727;
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #9c1f1f;
}

.btn--orange {
  background-color: orange;
}

.btn--orange:hover {
  background-color: #cc8400;
}

.btn--dark {
  background-color: #333333;
}

.btn--dark:hover {
  background-color: #1a1a1a;
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 3fr 2fr;
      grid-template-columns: 6fr 3fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .navbar .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

.navbar__logo {
  width: 180px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}

@media only screen and (max-width: 768px) {
  .navbar__list {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

@media only screen and (max-width: 768px) {
  .navbar__social {
    display: none;
  }
}

.navbar__socitem {
  margin: 0 0.3rem;
}

.navbar__link {
  padding: 0.7rem;
  font-weight: bold;
}

.navbar__link:hover {
  background-color: #f3f3f3;
  color: #333;
}

.navbar__social-link {
  color: #777777;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/featured.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/featured.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem 3rem 3rem 3rem;
  color: white;
}

.header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 37.5em) {
  .header .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.header__text {
  width: 100%;
  padding: 1rem 0;
}

.header__desc {
  line-height: 1.5;
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .articles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .articles {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background-color: white;
  padding: 1rem;
}

.card__img {
  width: 100%;
}

.card__text {
  line-height: 1.6;
  font-size: 1.05rem;
}

.card:first-child, .card:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: span 2;
}

@media only screen and (max-width: 768px) {
  .card:first-child, .card:last-child {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column: span 1;
  }
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto min-content;
      grid-template-rows: auto -webkit-min-content;
      grid-template-rows: auto min-content;
  grid-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .footer .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.footer__logo {
  width: 180px;
}

.footer__copyright {
  grid-column: span 4;
  text-align: center;
  background-color: #444444;
  padding: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    grid-column: span 1;
  }
}

.footer__btn {
  width: 100%;
}

.footer__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #555555;
}

.footer__link:hover {
  color: #c72727;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  .about {
    margin-top: 4rem;
  }
}

.about .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  grid-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (max-width: 37.5em) {
  .about .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about .about-text {
  background-color: white;
  padding: 1rem;
  line-height: 1.6;
}

@media only screen and (max-width: 37.5em) {
  .about .about-text {
    text-align: center;
  }
}

.about .about-text__title {
  font-size: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .about .about-text__title {
    font-size: 2rem;
  }
}

.about__img {
  width: 100%;
}

.join {
  padding: 1rem;
}

.join__btn {
  display: block;
  text-align: center;
}

.article-profile {
  background-color: #f3f3f3;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-profile .icon {
  margin-right: 5px;
}

.article-author {
  margin-right: auto;
}

.article {
  -ms-grid-columns: 5fr 2fr !important;
      grid-template-columns: 5fr 2fr !important;
}

@media only screen and (max-width: 37.5em) {
  .article {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.arrow {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */