$primary-color: #c72727;
$secondary-color: #f99500;
$light-color: #f3f3f3;
$dark-color: #333;
$max-width: 1100px;


.navbar{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    .container{
        display: grid;
        grid-template-columns: 6fr 3fr 2fr;
        align-items: center;
        grid-gap: 1rem;

        @include query(tab){
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
        }
    }

    &__logo{
        width: 180px;
    }

    &__list{
        display: flex;
        align-items: center;
        justify-self: end;

        @include query(tab){
            justify-self: center;
        }

    }

    &__social{
        display: flex;
        align-items: center;
        justify-self: center;
        
        @include query(tab){
            display: none;
        }
    }

    &__socitem{
        margin: 0 0.3rem;
    }

    &__item{

    }

    &__link{
        padding: 0.7rem;
        font-weight: bold;
        &:hover{
            background-color: $light-color;
            color: $dark-color;
        }
    }

    &__social-link{
        color:#777777;
    }
}

// HEADER

.header{
    background-image:linear-gradient(rgba(black,0.5),rgba(black,0.5)), url(/img/featured.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem 3rem 3rem 3rem;
    color: white;

    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        @include query(cp){
            grid-template-columns: repeat(1,1fr);
        }
    }

    &__text{
        width: 100%;
        padding: 1rem 0;

    }

    &__desc{
        line-height: 1.5;
    }

}

// NEWS

.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;

    
    @include query(tab){
        grid-template-columns: repeat(2,1fr);
    }
    @include query(cp){
        grid-template-columns: repeat(1,1fr);
    }
}

.card{
    background-color: white;
    padding: 1rem;
 

    &__img{
        width: 100%;
    }

    &__text{
        line-height: 1.6;
        font-size: 1.05rem;
    }


    &:first-child,
    &:last-child
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        align-items: center;
        grid-column: span 2;

        @include query(tab){
            grid-template-columns: 1fr;
            grid-column: span 1;
        }
    }
}


// FOOTER

.footer{
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto min-content;
        grid-gap: 2rem;

        @include query(cp){
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

        }
    }

    &__logo{
        width: 180px;
    }

    &__copyright{
        grid-column: span 4;
        text-align: center;
        background-color: #444444;
        padding: 1rem;

        @include query(cp){
           grid-column: span 1;
        }
    }

    &__btn{
        width: 100%;
    }

    &__item{
        padding: 0.5rem 0;
        border-bottom: 1px solid #555555;
    }

    &__link{
        &:hover{
            color: $primary-color;
        }
    }
}

.form{

    &__input{
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }
}

// ABOUT

.about{
    @include query(tab){
        margin-top: 4rem;
    }
    .container{
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-gap: 2rem;
        align-items: start;

        @include query(cp){
            grid-template-columns: 1fr;
        }
    }

    .about-text{
        background-color: white;
        padding: 1rem;
        line-height: 1.6;

        @include query(cp){
            text-align: center;
        }

        &__title{
            font-size: 3rem;

            @include query(cp){
                font-size: 2rem;
            }
        }
    }

    &__img{
        width: 100%;
    }
}

.join{
    padding: 1rem;

    &__btn{
        display: block;
        text-align: center;
    }
}

.article-profile{
    background-color: $light-color;
    padding: 1rem;
    display: flex;
    align-items: center;

    .icon{
        margin-right: 5px;
    }
}

.article-author{
    margin-right: auto;
}

.article{
    grid-template-columns: 5fr 2fr !important;
    @include query(cp){
        grid-template-columns: 1fr !important;
    }
}

.arrow{
    margin-right: 5px;
}